<div class="colorss">
<div class="colors">
<footer class="footer">      
<div class="row">
    <div id="first" class="col-sm-6">
        <h1>
                Contact us
        </h1>
        <br>

        <p>
            123 Anywhere st.., AnyCity, ST 12345
        </p>
        <p>
            123-456-7890
        </p>
        <p>
            pawsitive.admin@official@gmail.com
        </p>
        <br>
        <br>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        <h4>
            #support our quest on social media @pawsitivesite
        </h4>
    </div>
    <div class="second" class="col-sm-6">  
        <app-carousel-pause></app-carousel-pause>
    </div>
</div>
</footer>
    
</div>
</div>