<div class=" me-0 p-0 g-0">
    <app-navbar></app-navbar>    
</div>
<section>
   <app-home></app-home>
</section>
<section>  
   <app-details></app-details>
</section> 
<section> 
    <app-contact></app-contact>
</section> 
<section> 
    <app-who-we-are></app-who-we-are>
</section> 
<section> 
    <app-what-we-do></app-what-we-do>
</section> 
<section> 
    <app-team></app-team>
</section> 
<section> 
    <app-contact></app-contact>
</section> 
<section> 
   <app-about></app-about>
</section> 

   