*{
    margin: 0;
    padding: 0;
    
}
.colors{
    background-color:greenyellow;

}
.first-second{
    font-size: 350%;
    margin-left: 5%;
    margin-right: 5%;
    color: yellow;
    text-shadow: 3px 3px 6px black;
    font-style: italic;
}
#first{
    height: 100%;
    /* background-color: black; */
    margin-top: 4%;
    
    border-radius: 10%;
    left: 2%;
    margin-left: 0px;
}
.row{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

h1{
    font-size: 350%;
    
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-shadow: 3px 3px 6px black;
    font-style: italic;
    
}
p{
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-style: italic;
    font: italic bold 20px/35px Georgia, serif;
}
#image{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 1100px){
    h1{
        font-size: 300%; 
    }
    .first-second{
        font-size: 300%; 
    }
    p{
        font-size: 135%;
    }
}
@media only screen and (max-width: 900px){
    h1{
        font-size: 250%; 
    }
    .first-second{
        font-size: 250%; 
    }
    p{
        font-size: 100%;
    }
}
@media only screen and (max-width: 750px){
    h1{
        font-size: 200%; 
    }
    .first-second{
        font-size: 200%; 
    }
    p{
        font-size: 80%;
    }
}
@media only screen and (max-width: 600px){
    .first-second{
        font-size: 175%; 
    }
    h1{
        font-size: 175%; 
    }
    p{
        font-size: 70%;
    }
}
@media only screen and (max-width: 574px){
    .first-second{
        font-size: 250%; 
    }
    h1{
        font-size: 250%; 
    }
    p{
        font-size: 130%;
    }
}