<div class="colors">
  <div class="row">
    <div id="first" class="col-sm-6">
      <h1>Pets change</h1>
      <h1>our lives.</h1>
      <h1 class="first-second">We're on a quest</h1>
      <h1 class="first-second">to change thiers.</h1>
      <br>
      <p>Quest for Paws Animal Rescue and Sanctuary is a nonprofit organization dedicated to rescuring,
        fostering, and rehoming the abandoned, sick, andinjured animals around our city.
      </p>
      <br>
      <br>
      <p>
        With your help, we hope to make a diffrence in the lives of these wonderful animals.
      </p>
      <br>
    </div>
    

    <div class="second" class="col-sm-6">  
        <app-carousel-pause></app-carousel-pause>
    </div>
  </div>
</div>
