<div class="image-setter">
<div class="row">
    <div class="col-sm">
        <img class="row-one" src="assets/SNEHA.jpg" alt="">
        <br>
        <p class="paragrap"><b>Sneha Dher Chowdhary</b></p>
        <p>Bachlors' in Computer </p>
            <p>Application, IEM</p>
    </div>
    <div class="col-sm">
        <img class="row-one" src="assets/AYUSH.jpg" alt="">
        <br>
        <p class="paragrap"><b>Ayush Agarwal</b></p>
        <p>Computer science and </p>
            <p>Enginner, AEC</p>
        
    </div>
    <div class="col-sm">
        <img class="row-one" src="assets/SAYANI.JPG" alt="">
        <br>
        <p class="paragrap"><b>Sayani Basu</b></p>
        <p>Bachlors' in Computer </p>
            <p>Application, IEM</p>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <img class="row-two" src="assets/ANKITA.JPG" alt="">
        <br>
        <p class="paragrap"><b>Ankita Shah</b></p>
        <p>Bachlors' in Computer </p>
            <p>Application, IEM</p>
    </div>
    <div class="col-sm">
        <img class="row-two" src="assets/SHOMRIDHIYA.jpg" alt="">
        <br>
        <p class="paragrap"><b>Shomridhiya Ghosh</b></p>
        <p>Bachlors' in Computer </p>
            <p>Application, IEM</p>
    </div>
</div>
</div>
