<div class="background">
    <br><br><br>
    <div class="row">
        <div class="col-sm-6">
            <div class="red">
                <h1>Our Four-Legged</h1>
                <h1>Friends Need</h1>
                <h1>Your Help</h1>
                <br>
                <h2>Quest for Paws Animal Rescue</h2>
                <h2>and Sanctuary</h2>
            </div>
            </div>
        <div class="col-sm-6">
            <div>
             <button class="sponcer">Sponsor a Rescue Today</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
</div>
