
<div class="colors">
    <div class="row">
        <div class="second" class="col-sm-6">  
            <app-carousel-pause></app-carousel-pause>
        </div>
        <div id="first" class="col-sm-6">
            <h1>How you</h1>
            <h1>can help.</h1>
            <br>
            <br>

            <p>There are countless ways you can help us in our quest for paws. You can make a donation (however big or small),
            join our fundraiser event or volunteer your time and home as a foster parent
            </p>
            <br>

            <a href=""><i class="fa-solid fa-arrow-right"></i>   &nbsp;&nbsp;&nbsp;Donate</a>
            <a href=""><i class="fa-solid fa-arrow-right"></i>   &nbsp;&nbsp;&nbsp;Join</a>

            <a href=""><i class="fa-solid fa-arrow-right"></i>  &nbsp;&nbsp;&nbsp;Volunteer</a>
        </div>
    </div>
</div>

